<form>
  <div class="form-group">
    <label for="name">Your name (optional):</label>
    <input type="text" class='form-control' name='name'/>
  </div>

  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea name="comment" class="form-control" required></textarea>
  </div>
  <div>
    <input type="submit" class="btn btn-secondary form-control" value="Send email"/>
  </div>
</form>
