<p>directivetest works!</p>
<h4> List of student </h4>
<table>
  <thead>
    <tr>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>MAJOR</th>
      <th>YEAR</th>
    </tr>
  </thead>
  <tr *ngFor="let s of students">
    <td> {{s.name}} </td>
    <td> {{s.email}} </td>
    <td> {{s.major}} </td>
    <td> {{s.year}} </td>
  </tr>
</table>
