<div>
  <nav>
    <li><a routerLink="databind">Data Binding workshop</a></li>
    <li><a routerLink="form">Form workshop</a></li>
    <li><a routerLink="direct">Directive workshop</a></li>
    <li><a routerLink="friend">Friend</a></li>
    <li><a routerLink="coffee-shop">Coffee Shop</a></li>
  </nav>
  <router-outlet></router-outlet>
</div>

