<div id="header">
  <h1 class="title" style="margin-top:20px;margin-left:10px;">Coffee Shop</h1>
  <h4 class="myname" style="color: green; font-size: 20px;margin-left:10px;">Hello! {{order.name}}</h4>
  <hr style="height:3px; width: 370px; border-width:0; color:rgb(112, 112, 112); background-color:rgb(87, 87, 87)">
</div>

<div style="margin-left:10px;">
  <form [formGroup]="form">

    <div class="form-group">
      <label for="Name" style="margin-right: 5px;">Name</label>
      <input type="text" class="form-name" id="name" formControlName="Name" placeholder="Enter name">
      <small style="color:red;margin-left: 5px;" *ngIf="form.get('Name')?.errors?.['required']">Name required</small>
    </div>

    <div class="form-group">
      <label for="Email" style="margin-right: 5px;">Email</label>
      <input type="email" class="form-email" id="email" formControlName="Email" placeholder="@example">
      <small style="color:red;margin-left: 5px;" *ngIf="form.get('Email')?.errors?.['required']">Email required</small>
      <small style="color:red;margin-left: 5px;" *ngIf="form.get('Email')?.errors?.['Email']">Invalid email</small>
    </div>

    <div class="form-group">
      <label for="Phone" style="margin-right: 5px;">Phone No.</label>
      <input type="text" class="form-phone" id="phone" formControlName="Phone" placeholder="Enter phone number">
      <small style="color:red;margin-left: 5px;" *ngIf="form.get('Phone')?.errors?.['required']">Phone No. required</small>
      <small style="color: red;margin-left: 5px;" *ngIf="form.hasError('minlength', 'Phone')">Phone No. must be {{form.get('Phone')?.errors?.['minlength'].requiredLength}} characters long, we need another...{{form.get('Phone')?.errors?.['minlength'].requiredLength - form.get('Phone')?.errors?.['minlength'].actualLength}}... characters</small>
    </div>


    <div class="form-group">
      <label id="drink-list" for="drink-list">What would you like to drink? :</label><br/>
    </div>
    <div class="form-group">
      <select name="drink-list" id="drink-list" formControlName="Drink">
        <option value="AMERICANO">AMERICANO</option>
        <option value="LATTE">LATTE</option>
        <option value="MOCHA">MOCHA</option>
        <option value="CAPPUCCINO">CAPPUCCINO</option>
        <option value="DOUBLE ESPRESSO">DOUBLE ESPRESSO</option>
        <option value="ESPRESSO">ESPRESSO</option>
        <option value="ESPRESSO CON PANNA">ESPRESSO CON PANNA</option>
        <option value="ESPRESSO MACCHIATO">ESPRESSO MACCHIATO</option>
        <option value="FLAT WHITE">FLAT WHITE</option>
        <option value="IRISH COFFEE">IRISH COFFEE</option>
        <option value="LATTE MACCHIATO">LATTE MACCHIATO</option>
        <option value="LUNGO">LUNGO</option>
        <option value="RISTRETTO">RISTRETTO</option>

      </select>
    </div>


  <p style="margin:10px;font-size: 20px;">Hot or cold?</p>
  <div class="radio-check" style="margin:10px;">
    <input class="form-check-input" type="radio" name="flexRadioDefault" [ngModel]="order.tempPreference" id="flexRadioDefault1" value='hot' formControlName="TempPreference" checked >
    <label class="form-check-label" for="flexRadioDefault1">
      Hot
    </label>
  </div>
  <div class="radio-check" style="margin:10px;">
    <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault2" value='cold' formControlName="TempPreference">
    <label class="form-check-label" for="flexRadioDefault2">
      Cold
    </label>
  </div>

  <div class="check-box" style="margin:5px;">
    <input class="form-check-input"[ngModel]="order.sendText" type="checkbox" value="" id="flexCheckDefault" formControlName="SendText" checked>
    <label class="form-check-box" for="flexCheckDefault">
      Send me a text message when my order is ready
    </label>
  </div>

  <div class="order-btn" style="margin:5px;">
    <button type="button" class="btn btn-success" (click)="onSubmit(form)">Place order</button>
  </div>


</form>

  <hr style="height:3px; width: 370px; border-width:0; color:rgb(112, 112, 112); background-color:rgb(87, 87, 87)">



  <p style="font-weight: bold;font-size: 20px;">Order Confirmation</p>

  <h4 style="color:green">
    {{form.value | json}}
  </h4>

  <p style="font-size: 20px;margin-top: 10px;">Data submitted:</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Drink</th>
        <th scope="col">TempPreference</th>
        <th scope="col">SendText</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let f of orders">
        <td>{{ f.name }}</td>
        <td>{{ f.email }}</td>
        <td>{{ f.phone }}</td>
        <td>{{ f.drink }}</td>
        <td>{{ f.tempPreference }}</td>
        <td>{{ f.sendText }}</td>
      </tr>
    </tbody>
  </table>

</div>
